@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #007FFF;
  /*  --color-secondary: #316DB0;
  --color-accent: #DE333B; */
}

* {
  font-family: "Mulish", sans-serif;
}

.font-logo {
  font-family: "JetBrains Mono", monospace;
}